---
version: 2.1

orbs:
  do: twdps/pipeline-events@dev:<<pipeline.git.revision>>
  op: twdps/onepassword@3.0.0

globals:
  - &context platform

commands:

  echo-message:
    parameters:
      msg:
        type: string
    steps:
      - run:
          name: echo msg
          command: echo "<< parameters.msg >>"

jobs:

  test versioned package install: 
    machine:
      image: ubuntu-2204:current
    resource_class: medium
    steps:
      - checkout
      - do/install:
          gren-version: 0.17.3
          datadog-version: 0.47.0
      - run:
          name: test version install
          command: |
            set -exo pipefail
            gren -v | grep "0.17.3"
            dog -v | grep "0.47.0"

  test package install using latest: 
    machine:
      image: ubuntu-2204:current
    resource_class: medium
    steps:
      - checkout
      - do/install:
          gren-version: latest
          datadog-version: latest
          gh-cli-version: latest
      - run:
          name: test version install
          command: |
            set -exo pipefail
            gren --help | grep "gren"
            dog --help | grep "dog"
            gh --help | grep "gh"

  test commands:
    machine:
      image: ubuntu-2204:current
    resource_class: medium
    steps:
      - checkout
      - op/install:
          op-version: 2.29.0
      - op/env
      - do/set-docker-credentials
      - run:
          name: test set-docker-credentials result
          command: |
            set -exo pipefail
            cat ~/.docker/config.json | grep "auths"
      - do/bash-functions
      - run:
          name: confirm bash-functions are written
          command: |
            #!/usr/bin/env bash
            set -exo pipefail
            cat bash-functions.sh
            cat bash-functions.sh | grep "AWS"
      # - run:
      #     name: # TODO: awsAssumeRole functional test
      - run:
          name: test Write to 1password
          command: |
            #!/usr/bin/env bash
            source bash-functions.sh
            set -eo pipefail
            test_value=$(openssl rand -hex 8)
            write1passwordField "platform" "test-fixture" "write-test" "$test_value"
            result=$(op item get tp5twbpvkjeubd2axvz56xmmba --reveal --field label=write-test --vault platform)
            if [[ $result != "$test_value" ]]; then
              echo "write to 1password failed"
              exit 1
            fi
      # - run:
      #     name: # TODO: test Trivy helm chart scan
      # - run:
      #     name: # TODO:test tagging of current github repo
      # - run:
      #     name: test adding cert-based kubeconfig context
      #     command: |
      #       #!/usr/bin/env bash
      #       source bash-functions.sh
      #       set -exo pipefail

      #       echo "ca_file" > ca_file
      #       echo "client_certificate_file" > client_certificate_file
      #       echo "client_key_file" > client_key_file
      #       add_kubeconfig_values test "https://example.com" ca_file client_certificate_file client_key_file
      #       error=$(k config get-contexts test | grep context)
      #       if [[ "$error" == *context* ]]; then
      #         echo "test context not found"
      #         exit 1
      #       fi

workflows:

  integration tests:
    jobs:
      - test versioned package install
      - test package install using latest

      - test commands:
          context: *context

      - do/slack:
          name: test slack bot job
          context: *context
          channel: lab-events
          message: orb-pipeline-events dev build test of slack message job with button
          include-link: true
          before-message:
            - op/env
            - echo-message:
                msg: "before slack message"
          after-message:
            - echo-message:
                msg: "after slack message"
